{% extends 'base.html.twig' %}

{% block title %}How To Computeur{% endblock %}

{% block body %}

<section class="articles">
    
    <h1>Bienvenue</h1>

    {% for article in articles %}  
        <article>
            <br></br>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/y') }} à {{article.createdAt | date('H:i') }} dans la categorie Articles </div>
            <div class="content">
                <img src="{{ article.image }}" alt"">
                {{ article.content | raw }}
                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite </a>  
            </div>
        </article> 
    {% endfor %}
</section>


{% endblock %}
